@import './variables';

.header-container {
  width: 100%;
  height: 120px;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $dark-color;
  padding: 0 36px;
}

.logo-container {
  display: flex;
  align-items: center;
  cursor: pointer;
  outline: none;
}

.logo-image {
  width: 146px;
  height: 82px;
  border-radius: 1000px;
}

.logo-text {
  color: $light-color;
  font-size: 36px;
  margin-left: 12px;
  &:hover {
    color: $secondary-color;
  }
}

.nav-link {
  color: $light-color;
  font-size: 30px;
  &.active {
    color: $secondary-color;
  }
  &:hover {
    color: $secondary-color;
  }
  &:focus {
    color: $secondary-color;
  }
  //   &:visited {
  //     color: purple;
  //   }
}

.nav-link.current {
  color: $secondary-color;
}

.navbar-nav .nav-link .current {
  color: red;
}

// .nav-link[aria-current='page'] {
//   color: #9b59b6; /* Current page link color */
// }

// .header-link.current::after {
//   content: '';
//   position: absolute;
//   bottom: -25px;
//   left: 0;
//   height: 4px;
//   width: 100%;
//   border-radius: 2px;
//   background: var(--hover-focus-color);
// }

@media (min-width: 1400px) {
  .navbar-expand-xxl .navbar-nav .nav-link {
    padding-right: 24px;
    padding-left: 24px;
  }
}

.add-task-button {
  width: 178px;
  height: 78px;
  border-radius: 1000px;
  background-color: $light-color;
  color: $dark-color;
  font-size: 20px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  &:hover {
    background-color: $secondary-color;
  }
}
