@import '../node_modules/bootstrap/scss/functions';

// Colors
$light-color: #f5f0f0;
$secondary-color: #decfe4;
$dark-color: #291f1f;
$active-color: #d9a9d8;
$purple-color: #decfe4;

// Font sizes
$font-size-base: 16px;
